.site-list {
    color: @black;
    font-size: 16px;
    font-weight: 700;
    display: flex;
}

.site-list__item {
    padding-right: 20px;
}

.site-list__item a {
    color: @red;
    font-weight: 400;
}

