.social-links {
    width: 30px;
    margin-left: 90px;

    &__social-button {
        font-size: 0;
        height: 30px;
        margin: 21px 0 1px;

        &--facebook {
            background: url("../img/facebook.svg") 5px 0 no-repeat;
        }

        &--twitter {
            background: url("../img/twitter.svg") 0 3px no-repeat;
        }

        &--instagram {
            background: url("../img/instagram.svg") no-repeat;
        }
    }
}
