<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>7h3 5h0p</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header class="page-header">
        <div class="page-header__top">
            <a href="index.html" class="page-header__page-name">7h3 5h0p</a>
            <a href="http://oggettoweb.ru/" class="page-header__oggetto-link"><img src="img/oggetto_logo.svg" width="50px" height="50px" alt="oggetto"></a>
            <a href="tel:+78122128506" class="page-header__phone grebenshikovs-phone-number">+7(812)2-12-85-06</a>
        </div>
        <div class="page-header__menu">
            <div class="container">
                <nav class="main-nav">
                    <ul class="main-nav__list site-list">
                        <% const siteList = ['LISP', 'OCaml', 'JavaScript', 'Python', 'PHP'] %>
                        <% siteList.forEach(function(item, index) { %>
                        <li class="site-list__item">
                            <a href="#"><%= item; %></a>
                            <% if(index < (siteList.length - 1)) { %>
                            <% } %>
                        </li>
                        <% }); %>
                    </ul>
                </nav>
                <form class="page-header__search search" action="#" method="post">
                    <label>
              <input class="search__search-field" type="search" size="26" name="form-user-info">
            </label>
                    <input class="search__search-button" type="submit" value="Искать">
                </form>
            </div>
        </div>
    </header>
    <main class="page-main">
        <ul class="page-main__breadcrumbs">
            <% const breadcrumbs = ['LISP', 'Одежда', 'Футболки'] %>
            <% breadcrumbs.forEach(function(crumb, index) { %>
            <li class="breadcrumbs__item">
                <a href="#" class="page-main__breadcrumbs-link"><%= crumb; %></a>
                <% if(index < (breadcrumbs.length - 1)) { %>
                <span class="breadcrumb__separator">/</span>
                <% } %>
            </li>
            <% }); %>
        </ul>
        <section class="page-main__good">
            <figure class="page-main__good-figure">
                <img class="page-main__good-img" src="img/tshirt_white.jpg" alt="picture" width="698" height="698" id="image">
            </figure>
            <div class="page-main__good-info">
                <h1 class="page-main__good-title">Футболка Alien technology</h1>
                <p class="page-main__good-description">Состав: 100% хлопок, динамическая типизация, польская нотация. Производство: Россия.</p>
                <p class="page-main__good-price">1500&#8381;</p>
                <form class="page-main__good-form" action="#" method="post">
                    <fieldset class="page-main__good-parameters">
                        <p class="page-main__good-parameter-title">Размер</p>
                        <input class="page-main__good-radio page-main__good-radio--size" type="radio" name="size" value="S" id="radio1">
                        <label for="radio1">S</label>
                        <input class="page-main__good-radio page-main__good-radio--size" type="radio" checked name="size" value="M" id="radio2">
                        <label for="radio2">M</label>
                        <input class="page-main__good-radio page-main__good-radio--size" type="radio" name="size" value="L" id="radio3">
                        <label for="radio3">L</label>
                    </fieldset>
                    <fieldset class="page-main__good-parameters">
                        <p class="page-main__good-parameter-title">Цвет</p>
                        <input class="page-main__good-radio page-main__good-radio--color-white" type="radio" checked name="color" value="white" id="radio4">
                        <label for="radio4">W</label>
                        <input class="page-main__good-radio page-main__good-radio--color-yellow" type="radio" name="color" value="yellow" id="radio5">
                        <label for="radio5">Y</label>
                        <input class="page-main__good-radio page-main__good-radio--color-green" type="radio" name="color" value="green" id="radio6">
                        <label for="radio6">G</label>
                    </fieldset>
                    <input class="button page-main__button-buy" type="submit" value="Купить">
                    <input class="add-to-cart" type="submit" value="Отложить на потом">
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="page-footer__top">
                <section class="page-footer__section">
                    <p class="page-footer__section-title">Сервис и поддержка</p>
                    <ul class="page-footer__list">
                        <li class="page-footer__list-item">
                            <a class="page-footer__list-item-link" href="#">Как сделать заказ</a>
                        </li>
                        <li class="page-footer__list-item">
                            <a class="page-footer__list-item-link" href="#">Возврат товара</a>
                        </li>
                        <li class="page-footer__list-item">
                            <a class="page-footer__list-item-link" href="#">Публичная оферта</a>
                        </li>
                        <li class="page-footer__list-item">
                            <a class="page-footer__list-item-link" href="#">Доставка</a>
                        </li>
                        <li class="page-footer__list-item">
                            <a class="page-footer__list-item-link" href="#">Способы оплаты</a>
                        </li>
                        <li class="page-footer__list-item">
                            <a class="page-footer__list-item-link" href="#">Правила продажи</a>
                        </li>
                        <li class="page-footer__list-item">
                            <a class="page-footer__list-item-link" href="#">Возврат денежных средств</a>
                        </li>
                        <li class="page-footer__list-item">
                            <a class="page-footer__list-item-link" href="#">Вопросы и ответы</a>
                        </li>
                    </ul>
                </section>
                <section class="page-footer__section">
                    <p class="page-footer__section-title">О компании</p>
                    <ul class="page-footer__list">
                        <li class="page-footer__list-item">
                            <a class="page-footer__list-item-link" href="#">О нас</a>
                        </li>
                        <li class="page-footer__list-item">
                            <a class="page-footer__list-item-link" href="#">Контакты</a>
                        </li>
                        <li class="page-footer__list-item">
                            <a class="page-footer__list-item-link" href="#">Вакансии</a>
                        </li>
                        <li class="page-footer__list-item">
                            <a class="page-footer__list-item-link" href="#">Партнерам</a>
                        </li>
                        <li class="page-footer__list-item">
                            <a class="page-footer__list-item-link" href="#">Сертификаты</a>
                        </li>
                        <li class="page-footer__list-item">
                            <a class="page-footer__list-item-link" href="#">Преимущества</a>
                        </li>
                        <li class="page-footer__list-item">
                            <a class="page-footer__list-item-link" href="#">Наши скидки</a>
                        </li>
                    </ul>
                </section>
                <section class="page-footer__features">
                    <ul class="page-footer__features-list">
                        <li class="page-footer__features-list-item page-footer__features-list-item--delivery">бесплатная доставка от 4000&#8381;
                        </li>
                        <li class="page-footer__features-list-item page-footer__features-list-item--probe">пробники в подарок при каждой покупке
                        </li>
                        <li class="page-footer__features-list-item page-footer__features-list-item--actions">акции и подарки за покупку
                        </li>
                    </ul>
                </section>
                <section class="page-footer__social-links social-links">
                    <a href="#" class="social-links__social-button social-links__social-button--facebook">Fb</a>
                    <a href="#" class="social-links__social-button social-links__social-button--twitter">Twit</a>
                    <a href="#" class="social-links__social-button social-links__social-button--instagram">Inst</a>
                </section>
            </div>
            <div class="page-footer__bottom">
                <p class="page-footer__copyright">2005-2017 &copy; 7h35h0p.ru - модный интернет-магазин одежды, обуви и аксессуаров. <br> Все права защищены. Доставка по всей России!</p>
            </div>
        </div>
    </footer>

    <script src="js/checkColor.js"></script>

</body>

</html>
